main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 45px;
}

main .container, main .date-header {
  margin: auto;
}

.date-header {
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-around;
}

.container {
  height: 600px;
  width: 700px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  margin-bottom: 100px;
}

.day-header {
  height: 70px;
  width: 100px;
  background-color: red;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

.init-days {
  height: 100px;
  width: 100px;
  background-color: gray;
}

.day {
  height: 100px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  background-color: blue;
}

.day-selected {
  background-color: green;
  border-radius: 25px;
}

/* SIDEBAR */

/* SIDEBAR POSITION */

.sidebar {
  background-color: #f1f1f1;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 300px;
}

.sidebar__content {
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* SIDEBAR HIDDEN STATE */

.sidebar[aria-hidden="true"] {
  transition: 200ms;
  transform: translateX(100%);
}

/* SIDEBAR VISIBLE STATE */

.sidebar:not([aria-hidden]), .sidebar[aria-hidden="false"] {
  transition: 200ms;
  transform: translateX(0);
}