main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 45px;
}

main .container, main .date-header {
  margin: auto;
}

.date-header {
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-around;
}

.container {
  height: 600px;
  width: 700px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  margin-bottom: 100px;
}

.day-header {
  height: 70px;
  width: 100px;
  background-color: red;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

.init-days {
  height: 100px;
  width: 100px;
  background-color: gray;
}

.day {
  height: 100px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  background-color: blue;
}

.day-selected {
  background-color: green;
  border-radius: 25px;
}